.notes{
    background-color: #ccc;
    padding: 12px 24px;
    margin: 10px 0;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::ng-deep  app-note-item{
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

.btn{
    background-color: red;
    color: white;
}

h1:hover{
    color: #f1f1f1;
}

.date{
    font-style: italic;
}